bin
!/libs/irrklang/bin
build
cmake-build-debug/
CMakeFiles
CMakeCache.txt
cmake-build-release-msvc/
cmake-build-debug-msvc/
cmake-build-debug-mvcs/
cmake-build-release-mvcs/
\.vs/
\.idea/
.vscode
bomberman
cmake-build-debug-mcvs/
cmake-build-release-mcvs/
media/
libs/irrlicht/*
.soundSettings
